[Unit]
Description=PiConsole daemon
[Service]
Type=simple
User=root
ExecStart=/opt/piconsole/start.sh
TimeoutStopSec=3
[Install]
WantedBy=multi-user.target
